[Unit]
Description=mbsync inbox service
ConditionPathExists=%h/.mbsyncrc
Wants=network-online.target
After=network-online.target

[Service]
# Type=simple
Type=oneshot
ExecStart=%h/local/bin/sync-mail
# don't do this - only update index if we have new emails
# ExecStartPost=/usr/bin/emacsclient -e '(mu4e-update-index)'

# [Install]
# WantedBy=multi-user.target
