[Unit]
Description=mbsync all timer
ConditionPathExists=%h/.mbsyncrc

[Timer]
OnBootSec=10m
OnUnitInactiveSec=60m
RandomizedDelaySec=1m
Unit=mbsync-all.service

[Install]
WantedBy=timers.target
