[Unit]
Description=mbsync inbox service
# After=network.target network-online.target dbus.socket
ConditionPathExists=%h/.mbsyncrc

[Service]
Type=simple
ExecStart=/home/tsb/local/bin/sync-mail
# ExecStartPost=/usr/bin/emacsclient -e '(mu4e-update-index)'

[Install]
WantedBy=mail.target
