[Unit]
Description=mbsync inbox timer
ConditionPathExists=%h/.mbsyncrc

[Timer]
OnBootSec=1m
OnUnitInactiveSec=1m
Unit=mbsync-inbox.service

[Install]
WantedBy=timers.target
