[Unit]
Description=Sync password store daily
Requires=pass-sync.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=12h
Persistent=true

[Install]
WantedBy=timers.target
