#!/bin/sh

if [ -d /etc/X11/xinit/xinitrc.d ]; then
	for f in /etc/X11/xinit/xinitrc.d/*; do
		[ -x "$f" ] && . "$f"
	done
	unset f
fi

# fancylocki3 &
~/.config/screenlayout/home.sh

numlockx & # turn numlock on
unclutter & # hide the mouse when it is unused
clipmenud & # clipboard history
redshift & # dim the screen at night

telegram-desktop &
teams &

(sleep 5 && discord) &

(sleep 5 && firefox) &
spotify &

setxkbmap -option caps:escape # use caps as esc
setxkbmap -layout 'us,no' -variant intl -option "grp:ctrls_toggle,terminate:ctrl_alt_bksp"
setxkbmap -option compose:ralt
xset b off # don't beep
xset r rate 180 60
xinput --set-prop 16 'libinput Accel Speed' -0.5

(sleep 5 && kbdd) & # kbdd is buggy if it does not start after the WM

if [ -z "$MONITOR_SECONDARY" ]; then
	feh --bg-fill ~/Pictures/wallpapers/active.png
else
	feh --bg-fill ~/Pictures/wallpapers/active_primary.png --bg-fill ~/Pictures/wallpapers/active_secondary.png
fi

if [ $(hostname -s) != 'berghome' ]; then
	desktop-locker &
fi
picom -f &

(sleep 5 && dunst) & # if it starts too soon we don't get HiDPI scaling
