#!/bin/sh

if [ -d /etc/X11/xinit/xinitrc.d ]; then
	for f in /etc/X11/xinit/xinitrc.d/*; do
		[ -x "$f" ] && . "$f"
	done
	unset f
fi

# fancylocki3 &
~/.config/screenlayout/home.sh

numlockx & # turn numlock on
unclutter & # hide the mouse when it is unused
clipmenud & # clipboard history
redshift & # dim the screen at night

telegram-desktop &
sleep 3 && firefox-developer-edition &
spotify &
sleep 3 && chromium &

setxkbmap -option caps:escape # use caps as esc
setxkbmap -layout 'us,no' -option "grp:ctrls_toggle,terminate:ctrl_alt_bksp"
xset b off # don't beep
xset r rate 180 60
xinput --set-prop 16 'libinput Accel Speed' -0.5

(sleep 5 && kbdd) & # kbdd is buggy if it does not start after the WM

if [ -z "$MONITOR_SECONDARY" ]; then
	feh --bg-fill ~/Pictures/wallpapers/active.png
else
	feh --bg-fill ~/Pictures/wallpapers/active_primary.png --bg-fill ~/Pictures/wallpapers/active_secondary.png
fi

if [ $(hostname -s) != 'berghome' ]; then
	desktop-locker &
fi
picom -f &

dunst & # notifications
