#include ".config/Xresources/colors-active"

! make fonts nice
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.rgba: rgb
! about right for a 27 inch 1440p monitor
! Xft.dpi: 120
Xft.dpi: 163
! Xcursor.size: 16
