! rofi
! rofi.opacity: 90
! rofi.width: 1600
! rofi.lines: 3
! rofi.columns: 1
! rofi.font: Terminus 9
! rofi.fg: #9e9e9e
! rofi.bg: #333333
! rofi.hlfg: #dedede
! rofi.hlbg: #333333
! rofi.bc: #dedede
! rofi.bw: 2
! rofi.location: 1
! rofi.padding: 2
! rofi.yoffset: -2
! rofi.xoffset: 0
! rofi.fixed-num-lines: false
! rofi.sidebar-mode: false
! rofi.terminal: gnome-terminal
! rofi.ssh-command: {terminal} -e "{ssh-client} {host}"
! rofi.key-run: F12
! rofi.key-window: mod1+F2
! rofi.key-ssh: mod1+F3

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
! rofi.color-window: argb:33273238, #273238, #1e2529
! rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
! rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
! rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

rofi.color-window: argb:c82d303b, #7c8389, #1d1f21
rofi.color-normal: argb:31d1f21, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
rofi.color-urgent: argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
rofi.color-active: argb:2c1d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
rofi.width: 100
! rofi.lines: 5
! rofi.columns: 2
! rofi.font: Noto Sans 14
rofi.bw: 0
rofi.padding: 800
rofi.eh: 2
!rofi.separator-style: solid
rofi.hide-scrollbar: true