#include ".config/Xresources/colors-active"

! rofi
! rofi.opacity: 90
! rofi.width: 1600
! rofi.lines: 3
! rofi.columns: 1
! rofi.font: Terminus 9
! rofi.fg: #9e9e9e
! rofi.bg: #333333
! rofi.hlfg: #dedede
! rofi.hlbg: #333333
! rofi.bc: #dedede
! rofi.bw: 2
! rofi.location: 1
! rofi.padding: 2
! rofi.yoffset: -2
! rofi.xoffset: 0
! rofi.fixed-num-lines: false
! rofi.sidebar-mode: false
! rofi.terminal: gnome-terminal
! rofi.ssh-command: {terminal} -e "{ssh-client} {host}"
! rofi.key-run: F12
! rofi.key-window: mod1+F2
! rofi.key-ssh: mod1+F3

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
! rofi.color-window: argb:33273238, #273238, #1e2529
! rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
! rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
! rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

rofi.color-window: argb:c82d303b, #7c8389, #1d1f21
rofi.color-normal: argb:31d1f21, #c4cbd4, argb:96404552, #F7A500, #444444
rofi.color-urgent: argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
rofi.color-active: argb:2c1d1f21, #FFED01, argb:e44b5160, #F7A500, #444444
rofi.theme: Monokai
rofi.width: 60
! rofi.lines: 5
! rofi.columns: 2
rofi.font: Noto Sans 18
rofi.bw: 0
rofi.padding: 650
rofi.eh: 2
rofi.matching: fuzzy
!rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.kb-remove-to-eol: Control+Shift+d
rofi.kb-accept-entry: Return,KP_Enter
rofi.kb-row-up: Control+k,Up
rofi.kb-row-down: Control+j,Down
rofi.kb-move-char-forward: Right,Control+l
! show rofi on the currently focused monitor
rofi.monitor: -1

! make fonts nice
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.rgba: rgb
! about right for a 27 inch 1440p monitor
! Xft.dpi: 120
Xft.dpi: 163
! Xcursor.size: 16
